@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-blue-900: #32586E;
    /* Primary Brand Color */
    --color-blue-800: #2a4a5d;
    /* Hover State */
    --color-blue-50: #EFEFEA;
    /* Brand Secondary / Background */
    --color-blue-100: #E0E0D8;
    /* Slightly darker secondary */
}

@media print {

    header,
    footer,
    button {
        display: none !important;
    }

    .print\:hidden {
        display: none !important;
    }
}

body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    @apply transition-colors duration-300;
}

html.dark body {
    @apply bg-gray-900 text-gray-100;
}